<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- bower:css -->
    <!-- endbower -->

    <!-- inject:css -->
    <link rel="stylesheet" href="/tmp/app.css">
    <!-- endinject -->

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
    <!-- bower:js -->
    <script src="/bower_modules/es5-shim/es5-shim.js"></script>
    <script src="/bower_modules/angularjs/angular.js"></script>
    <script src="/bower_modules/angular/angular.js"></script>
    <script src="/bower_modules/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_modules/angular-route/angular-route.js"></script>
    <script src="/bower_modules/lodash/lodash.js"></script>
    <script src="/bower_modules/json3/lib/json3.js"></script>
    <script src="/bower_modules/angular-animate/angular-animate.js"></script>
    <!-- endbower -->

    <!-- inject:js -->
    <script src="/Scripts/App/demo.module.js"></script>
    <script src="/Scripts/App/demo.js"></script>
    <!-- endinject -->
</body>
</html>